@model SocialNetworkPL.Models.FindUsersModel

@using (Html.BeginForm("Index", "Users", FormMethod.Get))
{
    <div class="form-group">

        @Html.Label("search-subname", "Find user by nickname")
        @Html.TextBox("subname", null, new
   {
       @class = "form-control",
       id = "search-subname",
       placeholder = "Enter nickname"
   })

    </div>

    <button class="btn btn-primary" type="submit">Find</button>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">NickName</th>
            <th scope="col">@Html.ActionLink("Follow user", "")</th>
        </tr>
    </thead>
    <tbody>

        @{
            var requestedFriendsIds = Model.User.RequestedFriendships
                .Where(x => x.IsAccepted == false)
                .Select(x => x.User2Id);

            var acceptedFriendsIds = Model.User.AcceptedFriendships
                .Where(x => x.IsAccepted == false)
                .Select(x => x.User1Id);

            var friendshipsR = Model.User.RequestedFriendships
                .Where(x => x.IsAccepted)
                .Select(x => x.User2Id);
            var friendshipsA = Model.User.AcceptedFriendships
                .Where(x => x.IsAccepted)
                .Select(x => x.User1Id);

            foreach (var user in Model.Users)
            {
                if (user.NickName != Model.User.NickName)
                {
                    <tr>
                        <th scope="row">@Html.ActionLink(user.NickName, "UserProfile", new { nickName = user.NickName })</th>

                        <td>
                            @{
                                var friendsIds = requestedFriendsIds as IList<int> ?? requestedFriendsIds.ToList();
                            }
                            @if (friendsIds.Contains(user.Id))
                            {
                                <input type="text" value="Waiting for confirmation" />
                            }
                            else
                            {
                                var enumerable = acceptedFriendsIds as IList<int> ?? acceptedFriendsIds.ToList();
                                if (enumerable.Contains(user.Id))
                                {
                                    <input type="text" value="Accept" />
                                }
                                else if (friendshipsA.Contains(user.Id) || friendshipsR.Contains(user.Id))
                                {
                                    <input type="text" value="Already friends" />

                                }
                                else
                                {
                                    using (Html.BeginForm("AddFriend", "Users", new { id = user.Id }, FormMethod.Post, null))
                                    {
                                        <input type="submit" value="Add friend" class="btn btn-default" />
                                    }
                                }

                            }
                        </td>
                    </tr>
                                    }
                                }
        }
    </tbody>
</table>